* {
  margin: 0;
  padding: 0;
  font-family: "Elms Sans", sans-serif;
}

h1 {
  font-size: 3.5rem;
  padding: 1.2rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
  font-style: italic;
  padding: 1rem;
}

header {
  background-color: #f8b400;
  min-height: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo {
  width: 200px;
  margin: 0;
}

.container {
  display: flex;
}

.titlePrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.order {
  padding: 1rem;
  min-width: 300px;
  max-width: 400px;
  background: #004445;
}

#orderContainer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-height: 30px;
  text-align: center;
  margin: 10px;
  border: #2c786c solid 2px;
  min-height: 40px;
  border-radius: 3px;
  background-color: #2c786d7b;
}

.order h2 {
  color: #faf5e4;
  background-color: #2c786c;
  padding: 1rem;
  margin: 0 auto;
  height: fit-content;
  border-radius: 3px;
}

.order h4 {
  color: #faf5e4;
  margin: 10px;
}

.order .price {
  color: #f8b600;
  margin: auto 0;
}

.products {
  background-color: #f8b600;
  border: #280045 2px solid;
  min-width: 100px;
  max-width: 150px;
  margin: 1rem;
  text-align: justify;
  padding: 1rem;
  border-radius: 10px;
}

img {
  margin: 0 auto;
}

.addToOrder button {
  background-color: #004445;
  color: #faf5e4;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}

.buttonRemoveFromOrder {
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(88, 3, 3);
}

footer {
  background-color: #004445;
  color: #faf5e4;
  min-height: 50px;
  padding: 2rem;
  text-align: center;
}
